.banner {
    background-position: center;
    background-repeat: no-repeat;
    /* background-image was getting cropped so i use below line  */
    background-size: 100% 100%;
    /* background-size: contain; */
    /* background-size: cover; */
    object-fit: cover;
    object-position: center;
    height: 70vh;
    position: relative;
    color: white;
}

.banner_contents {
    margin-left: 70px;
    padding-top: 350px;
    height: 190px;
}

.banner_contents .banner_title {
    font-size: 3.5rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_contents .banner_description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    max-width: 360px;
    height: 80px;
}

.banner--fadeButton {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7.4rem;
    background-image: linear-gradient(180deg,
            transparent,
            rgba(37, 37, 37, 0.61),
            #111);
}

.banner_button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 1rem 2rem;
    margin-right: 1rem;
    background-color: rgba(51, 51, 51, 0.5);

}

.banner_button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}


@media only screen and (max-width: 600px) {
    .banner {
        height: 50vh;
    }

    .banner_contents {
        margin-left: 30px;
        padding-top: 240px;
        height: 100px;
    }

    .banner_contents .banner_title {
        font-size: 1.5rem;
    }

    .banner_contents .banner_description {
        width: 20rem;
        padding-top: 0.6rem;
        font-size: 0.7em;
        max-width: 260px;
        height: 100px;
    }

    .banner--fadeButton {
        height: 4.4rem;
    }

    .banner_button {
        font-size: 12px;
        padding: 0.5rem 1rem;

    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .banner {
        height: 60vh;
    }

    .banner_contents {
        margin-left: 40px;
        padding-top: 250px;
        height: 100px;
    }

    .banner_contents .banner_title {
        font-size: 2.5rem;
    }

    .banner_contents .banner_description {
        width: 30rem;
        padding-top: 0.7rem;
        font-size: 0.8rem;
        max-width: 320px;
        height: 100px;
    }

    .banner--fadeButton {
        height: 5.4rem;
    }

    .banner_button {
        font-size: 14px;
        padding: 0.8rem 1.5rem;
    }

}

@media (min-width: 769px) and (max-width: 998px) {
    .banner {
        height: 60vh;
    }

    .banner_contents {
        padding-top: 250px;
    }

    .banner_contents .banner_title {
        font-size: 2.5rem;
    }

    .banner_contents .banner_description {
        width: 35rem;
        padding-top: 0.7rem;
        font-size: 0.9rem;
        max-width: 340px;
        height: 100px;
    }

    .banner--fadeButton {
        height: 5.8rem;
    }

    .banner_button {
        font-size: 14px;
        padding: 0.8rem 1.5rem;
    }
}