.profileScreen {
    height: 100vh;
    color: white;
}

.profileScreen_body {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0px auto;
    padding-top: 10%;
    max-width: 800px;
}

.profileScreen_info {
    display: flex;
}

.profileScreen_header {
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.profileScreen_body .profileScreen_header>h1 {
    font-size: 50px;
    font-weight: 400;
}

.profileScreen_info>img {
    height: 100px;
}

.profileScreen_details {
    color: white;
    margin-left: 25px;
    flex: 1px;
}

.profileScreen_details>h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}


.profileScreen_signOut {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: white;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.goToAccount {
    padding: 10px 20px;
    font-size: 1rem;
    margin: 2.5% 0;
    width: 20%;
    color: white;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.profileScreen_plans {
    margin-top: 20px;
}

.profileScreen_plans>h3 {
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}


@media only screen and (max-width: 600px) {
    .profileScreen_body {
        padding-top: 25%;
        max-width: 400px;
    }

    .profileScreen_header {
        margin-bottom: 10px;

    }

    .profileScreen_body .profileScreen_header>h1 {
        font-size: 20px;
    }

    .profileScreen_info>img {
        height: 70px;
    }

    .profileScreen_details {
        margin-left: 15px;
    }

    .profileScreen_details>h2 {
        padding: 10px;
        font-size: 14px;
        padding-left: 15px;
    }


    .profileScreen_signOut {
        padding: 5px 10px;
    }

    .goToAccount {
        padding: 5px 10px;
        font-size: 0.6rem;
    }

    .profileScreen_plans {
        margin-top: 15px;
    }

    .profileScreen_plans>h3 {
        font-size: 16px;
    }

}


@media (min-width: 601px) and (max-width: 768px) {

    .profileScreen_body {
        padding-top: 20%;
        max-width: 500px;
    }

    .profileScreen_header {
        margin-bottom: 13px;

    }

    .profileScreen_body .profileScreen_header>h1 {
        font-size: 25px;
    }

    .profileScreen_info>img {
        height: 80px;
    }

    .profileScreen_details {
        margin-left: 15px;
    }

    .profileScreen_details>h2 {
        padding: 12px;
        font-size: 14px;
        padding-left: 15px;
    }


    .profileScreen_signOut {
        padding: 10px 20px;
    }

    .goToAccount {
        padding: 10px 20px;
        font-size: 0.8rem;
    }

    .profileScreen_plans {
        margin-top: 15px;
    }

    .profileScreen_plans>h3 {
        font-size: 18px;
    }

}


@media (min-width: 769px) and (max-width: 998px) {

    .profileScreen_body {
        padding-top: 15%;
        max-width: 600px;
    }

    .profileScreen_header {
        margin-bottom: 15px;

    }

    .profileScreen_body .profileScreen_header>h1 {
        font-size: 32px;
    }

    .profileScreen_info>img {
        height: 90px;
    }

    .profileScreen_details {
        margin-left: 18px;
    }

    .profileScreen_details>h2 {
        padding-left: 18px;
    }


    .goToAccount {
        font-size: 0.8rem;
    }

    .profileScreen_plans {
        margin-top: 18px;
    }

    .profileScreen_plans>h3 {
        font-size: 18px;
    }
}