.WelcomePage{
    position: relative;
    height: 100%;
    background: url("https://external-preview.redd.it/An0ibJEE6XhCcuj778sMEDDJPXC0wT7c6kFX8sLgL7Q.jpg?auto=webp&s=16fa0fac428f7c0d8cd50bf09a921c72b3c472f0") center no-repeat;
    background-size: cover;
}

.WelcomePage_gradient{
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0,0,0,0.8) 0,
        rgba(0,0,0,0) 60%,
        rgba(0,0,0,0.8) 100%
    );
}

.WelcomePage_logo{
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
}

.WelcomePage_button{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.WelcomePage_body{
    position: absolute;
    width: 100%;
    top: 30%;
    max-width: 0 auto;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding: 20px;
}

.WelcomePage_body > h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
}

.WelcomePage_body > h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.WelcomePage_body > h3{
    font-size: 1.3rem;
    font-weight: 400;
}

.WelcomePage_input{
    margin: 20px;
}

.WelcomePage_input form{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.WelcomePage_input > form > input{
    padding: 10px;
    outline: none;
    height: 100%;
    width: 30%;
    border: none;
    max-width: 600px;
}

.WelcomePage_getStarted{
    height: 100%;
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    cursor: pointer;

}